.login {
}

.login h1 {
  font-family: 'Consolas';
  margin: 20px 20px;
  text-shadow: 1px 1px 1px black;
}

.frame {
  width: 400px;
  margin: 10% auto;
  display: flex;
  flex-direction: column;
  background: blue;
  border-radius: 15px;
  box-shadow: 0px 0px 10px black;
}

.frame h2 {
  text-align: center;
}

.subframe {
  margin: 5px 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;

  font-size: 1rem;
  font-weight: bold;
}

.subframe label {
  margin: 10px 20px;
}

.divbtn--login {
  padding: 10px 20px;
  margin: 0px auto;
}

.btn--login {
  width: 100px;
  height: 30px;
  margin-top: 10px;
  font-size: 1rem;
  font-weight: bold;
  background: royalblue;
  border: 1px solid royalblue;
  border-radius: 5px;
  color: whitesmoke;
}

.btn--login:hover {
  background: lightblue;
  color: black;
}

.notification p {
  width: 40%;
  margin: 10px auto;
  padding: 10px 10px;

  text-align: center;
  font-size: 1.2rem;
  
  border-radius: 5px;
  color: orange;
}

.loginok p {
  width: 40%;
  margin: 10px auto;
  padding: 10px 10px;

  text-align: center;
  font-size: 1.2rem;
  
  border-radius: 5px;
  color: lightgreen;
}