.meetingpoint {
}

.meetingpoint h1 {
  font-family: 'Consolas';
  margin: 0px 20px;
  padding: 20px 0px;
  text-shadow: 1px 1px 1px black;
}

.appointment--switch {
  position: absolute;
  top: 170px;
  left: 40px;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.appointment--switch button {
  width: 300px;
  padding: 5px 10px;
  font-family: 'Consolas';
  font-weight: bold;
  background: #3b3c47;
  border: 1px solid #3b3c47;
  border-radius: 3px;
  box-shadow: 0px 0px 1px #000;
  color: white;
}

.appointment--switch button:hover {
  background: lightblue;
  border: 1px solid royalblue;
  border-radius: 3px;
  box-shadow: 0px 0px 0px white;
  color: blue;
}

.appointment--reorder {
  position: absolute;
  top: 214px;
  left: 40px;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.appointment--reorder button {
  width: 300px;
  padding: 5px 10px;
  font-family: 'Consolas';
  font-weight: bold;
  background: #3b3c47;
  border: 1px solid #3b3c47;
  border-radius: 3px;
  box-shadow: 0px 0px 1px #000;
  color: white;
}

.appointment--reorder button:hover {
  background: lightblue;
  border: 1px solid royalblue;
  border-radius: 3px;
  box-shadow: 0px 0px 0px white;
  color: blue;
}

.appointment--refresh {
  position: absolute;
  top: 258px;
  left: 40px;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.appointment--refresh button {
  width: 300px;
  padding: 5px 10px;
  font-family: 'Consolas';
  font-weight: bold;
  background: #3b3c47;
  border: 1px solid #3b3c47;
  border-radius: 3px;
  box-shadow: 0px 0px 1px #000;
  color: white;
}

.appointment--refresh button:hover {
  background: lightblue;
  border: 1px solid royalblue;
  border-radius: 3px;
  box-shadow: 0px 0px 0px white;
  color: blue;
}

.display--settingsmeeting {
  position: absolute;
  top: 20%;
  bottom: auto;
  left: 28%;
  width: 580px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  font-family: 'Consolas';
  background: linear-gradient(170deg, royalblue, blue, navy);
  border-radius: 15px;
  box-shadow: 0px 0px 5px white;
}

.title--newappointment {
  display: flex;
  justify-content: center;
}

.divMP--content {
  margin: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: right;
  font-weight: bold;
}

.divMP--content input {
  margin-right: 110px;
  margin-left: 10px;
  background: lightgrey;
}

.div--textarealabel label {
  margin: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: left;
  font-weight: bold;
}

/*BTN Save New Appointment*/
.divbtn--createmeeting {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--createmeeting {
  padding: 3px 10px;
  background: royalblue;
  border: 1px solid royalblue;
  border-radius: 3px;
  box-shadow: 0px 0px 3px white;
  color: whitesmoke;
}

.btn--createmeeting:hover {
  background: lightblue;
  border: 1px solid lightblue;
  color: blue;
}

.create--div {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}

.create--div h3 {
  text-shadow: 1px 1px 1px black;
}

.create--div button {
  margin: 0px 10px;
}

/*SubMeeting*/
.mainfirst--div {
  width: 100%;
  margin: auto;
  display: flex;
}

.first--data {
  width: 700px;
  margin: 10px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  background: linear-gradient(170deg, #1e90ff, blue, navy);
  border-radius: 15px;
  box-shadow: 0px 0px 2px #3b3c47;
  color: white;
}

.capsbtn--div {
  margin: 0px 0px;
  display: flex;
  flex-direction: row;
}

.caps--div {
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
}

.left--div {
  margin: 0px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pinput--left {
  width: 120px;
  display: flex;
  align-items: center;
  font-family: 'Consolas';
  font-weight: bold;
}

.pinput--left p {
  margin: auto;
  margin-right: 10px;
  display: flex;
  justify-content: right;
}

.pinput--date input {
  margin: 5px 0px;
  padding: 0px 5px;
  width: 80px;
  font-size: 0.9rem;
  background: lightgrey;
}

.pinput--hour input {
  margin: 5px 0px;
  padding: 0px 5px;
  width: 40px;
  font-size: 0.9rem;
  background: lightgrey;
}

.pinput--right input {
  margin: 5px 0px;
  padding: 0px 5px;
  width: 160px;
  font-size: 0.9rem;
  background: lightgrey;
}

.changephone--div {
  margin: auto;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
}

.changephone--div input {
  width: 100px;
  font-size: 0.9rem;
}

.changephone--div button {
  margin-left: 10px;
  width: 60px;
}

.changephone--btndiv {
  margin: auto;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
}

.changephone--btndiv button {
  width: 60px;
  padding: 3px 0px;
}

/*Location-Map second component*/

.caps--location {
  margin: 10px 14px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.p--location {
  margin-left: 18px;
}

.p--location p {
  margin: auto;
  font-family: 'Consolas';
  font-weight: bold;
}

.input--location {
  margin: auto;
  width: 504px;
  display: flex;
  justify-content: left;
}

.input--location input {
  padding: 0px 6px;
  width: 500px;
  font-size: 0.9rem;
  background: lightgrey;
}

.hwg--a {
  width: 40px;
  padding: 4px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(170deg, royalblue, navy);
  border: 1px solid royalblue;
  border-radius: 7px;
  box-shadow: 0px 0px 5px white;
  color: white;
}

.hwg--a:hover {
  background: lightblue;
  box-shadow: 0px 0px 0px white;
  color: blue;
}

.right--div {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*Textarea of second component*/
.notice--div {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ptextarea--left {
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ptextarea--left p {
  font-weight: bold;
}

.text--area {
  width: 548px;
  margin: 0px 12px;
  font-size: 0.9rem;
  background: lightgrey;
}

/*BTN of second component*/
.btn--meetingpoint {
  width: 680px;
  margin:auto;
  display: flex;
  align-items: center;
  justify-content: right;
}

.btn--meetingpoint button {
  width: 100px;
  margin-top: 5px;
  margin-left: 30px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Consolas';
  font-weight: bold;
  background: linear-gradient(170deg, royalblue, navy);
  border: 1px solid royalblue;
  border-radius: 3px;
  box-shadow: 0px 0px 5px white;
  color: white;
}

.btn--meetingpoint button:hover {
  background: lightblue;
  border-radius: 5px;
  box-shadow: 0px 0px 0px white;
  color: blue;
}

.delete--btn {
  margin-right: 4px;
}